PHP_IDE_CONFIG: serverName=Docker
PHP_XDEBUG_ENABLED: 1
XDEBUG_CONFIG: remote_host=172.17.0.1 remote_port=9005 # Linux users
# XDEBUG_CONFIG: remote_host=host.docker.internal remote_port=9005 # MacOS users